### 시리즈 만들기

In [2]:
import pandas as pd

In [3]:
s = pd.Series(['Wes McKinney','Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

### 데이터프레임 만들기

In [4]:
scientists = pd.DataFrame({
    'Name' : ['Rosaline Franklin','William Gosset'],
    'Occupation' : ['Chemis','Statistician'],
    'Born' : ['1920-07-25','1876-06-13'],
    'Died' : ['1958-04-16','1937-10-16'],
    'Age' : [37,61]})
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin        Chemis  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [5]:
scientists = pd.DataFrame(
    index = ['Rosaline Franklin','William Gosset'],
    data = {'Occupation' : ['Chemis','Statistician'],
            'Born' : ['1920-07-25','1876-06-13'],
            'Died' : ['1958-04-16','1937-10-16'],
            'Age' : [37,61]},
    columns = ['Occupation','Born','Died','Age'])
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin        Chemis  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

### 시리즈 다루기 - 기초

#### 데이터프레임에서 시리즈 선택하기

In [6]:
scientists = pd.DataFrame(index = ['Rosaline Franklin','William Gosset'],
                          data = {'Occupation' : ['Chemis','Statistician'],
                                  'Born' : ['1920-07-25','1876-06-13'],
                                  'Died' : ['1958-04-16','1937-10-16'],
                                  'Age' : [37,61]},
                          columns = ['Occupation','Born','Died','Age'])

In [7]:
first_row = scientists.loc['William Gosset']
print(type(first_row))
print(first_row)

<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

#### index, values 속성과 keys 메서드 사용하기

In [8]:
print(first_row.index)
print(' ')
print(first_row.values)
print(' ')
print(first_row.keys())
print(' ')
print(first_row.index[0])
print(' ')
print(first_row.keys()[0])

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

['Statistician' '1876-06-13' '1937-10-16' 61]

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

Occupation

Occupation

#### 시리즈의 mean, min, max, std 메서드 사용하기

In [9]:
ages = scientists['Age']
print(ages)
print(' ')
print(ages.mean())
print(' ')
print(ages.min())
print(' ')
print(ages.max())
print(' ')
print(ages.std())

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

49.0

37

61

16.97056274847714

### 시리즈 다루기 - 응용

#### 시리즈와 불린 추출

In [10]:
cd

C:\Users\admin

In [12]:
scientists = pd.read_csv('C:/STUDY/Python/data/scientists.csv')
ages = scientists['Age']
print(ages.max())
print(' ')
print(ages.mean())
print(' ')
print(ages[ages > ages.mean()])
print(' ')
print(ages > ages.mean())
print(' ')
manual_bool_values = [True,True,False,False,True,True,False,True]
print(ages[manual_bool_values])

90

59.125

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

#### 벡터와 스칼라로 브로드캐스팅 수행하기
#### 브로드캐스팅 : 시리즈와 같이 여러개의 값을 가진 데이터(벡터)와
#### 단순 크기를 나타내는 데이터(스칼라) 간의 연산을 지원하는 것

In [38]:
print(ages + ages)
print(' ')
print(ages * ages)
print(' ')
print(ages + 100)
print(' ')
print(ages * 2)
print(' ')
print(pd.Series([1,100]))
print(' ')
print(ages + pd.Series([1,100]))

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

0      1
1    100
dtype: int64

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [39]:
print(pd.Series([1,100]))
print(' ')
print(ages + pd.Series([1,100])) # 인덱스가 일치한 값만 계산하고 나머진 NaN
print(' ')
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)
print(' ')
print(ages * 2)
print(' ')
print(ages + rev_ages)

0      1
1    100
dtype: int64

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

#### 불린추출과 브로드캐스팅

In [40]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [41]:
print(scientists.loc[[True, True, False, True]])

IndexError: Boolean index has wrong length: 4 instead of 8

In [20]:
print(scientists * 2)

                                 Occupation                  Born  \
Rosaline Franklin              ChemisChemis  1920-07-251920-07-25
William Gosset     StatisticianStatistician  1876-06-131876-06-13

                                   Died  Age
Rosaline Franklin  1958-04-161958-04-16   74
William Gosset     1937-10-161937-10-16  122

#### 시리즈와 데이터프레임의 데이터 처리하기

In [21]:
print(scientists['Born'].dtype)
print(' ')
print(scientists['Died'].dtype)

object

object

In [22]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(born_datetime)
print(died_datetime)

Rosaline Franklin   1920-07-25
William Gosset      1876-06-13
Name: Born, dtype: datetime64[ns]
Rosaline Franklin   1958-04-16
William Gosset      1937-10-16
Name: Died, dtype: datetime64[ns]

In [23]:
scientists['born_dt'],scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())

                     Occupation        Born        Died  Age    born_dt  \
Rosaline Franklin        Chemis  1920-07-25  1958-04-16   37 1920-07-25
William Gosset     Statistician  1876-06-13  1937-10-16   61 1876-06-13

                     died_dt
Rosaline Franklin 1958-04-16
William Gosset    1937-10-16

In [24]:
scientists['age_day_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists)

                     Occupation        Born        Died  Age    born_dt  \
Rosaline Franklin        Chemis  1920-07-25  1958-04-16   37 1920-07-25
William Gosset     Statistician  1876-06-13  1937-10-16   61 1876-06-13

                     died_dt age_day_dt
Rosaline Franklin 1958-04-16 13779 days
William Gosset    1937-10-16 22404 days

In [25]:
print(scientists['Age'])
import random
print(scientists.columns)
scientists_dropped = scientists.drop(['Age'], axis = 1)
print(scientists_dropped.columns)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64
Index(['Occupation', 'Born', 'Died', 'Age', 'born_dt', 'died_dt',
       'age_day_dt'],
      dtype='object')
Index(['Occupation', 'Born', 'Died', 'born_dt', 'died_dt', 'age_day_dt'], dtype='object')

#### 데이터를 피클, CSV, TSV 파일로 저장하고 불러오기

In [13]:
names = scientists['Name']
names.to_pickle('C:/STUDY/Python/data/scientist_df.pickle')
scientists.to_pickle('C:/STUDY/Python/data/scientists_df.pickle')
scientists_names_from_pickle = pd.read_pickle('C:/STUDY/Python/data/scientist_names_series.pickle')
print(scientists_names_from_pickle)
print(' ')
scientists_from_pickle = pd.read_pickle('C:/STUDY/Python/data/scientists_df.pickle')
print(scientists_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [14]:
names.to_csv('C:/STUDY/Python/data/scientists_names_series.csv')
scientists.to_csv('C:/STUDY/Python/data/scientists_df.tsv', sep='\t')

In [4]:
!pip install xlwt

Requirement already satisfied: xlwt in c:\users\admin\anaconda3\lib\site-packages (1.3.0)

In [5]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\admin\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\admin\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [15]:
import xlwt
import openpyxl
names_df = names.to_frame()
names_df.to_excel('C:/STUDY/Python/data/scientists_names_series_df.xls')
print(names_df.to_excel)
print(' ')
names_df.to_excel('C:/STUDY/Python/data/scientists_names_series_df.xlsx')
print(names_df.to_excel)

<bound method NDFrame.to_excel of                    Name
0     Rosaline Franklin
1        William Gosset
2  Florence Nightingale
3           Marie Curie
4         Rachel Carson
5             John Snow
6           Alan Turing
7          Johann Gauss>

<bound method NDFrame.to_excel of                    Name
0     Rosaline Franklin
1        William Gosset
2  Florence Nightingale
3           Marie Curie
4         Rachel Carson
5             John Snow
6           Alan Turing
7          Johann Gauss>

C:\Users\admin\AppData\Local\Temp\ipykernel_1012\3994533274.py:4: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  names_df.to_excel('C:/STUDY/Python/data/scientists_names_series_df.xls')