### apply 함수 활용
#### 간단한 함수 만들기

In [1]:
def my_function():
# 여기서부터 코드를 입력합니다

IndentationError: expected an indented block (1648558735.py, line 2)

In [2]:
def my_sq(x):
    return x ** 2

In [3]:
def my_exp(x, n):
    return x ** n

In [4]:
print(my_sq(4))
print(my_exp(2, 4))

16
16

#### apply 함수 사용하기 - 기초

In [5]:
# 시리즈와 apply
import pandas as pd

df = pd.DataFrame({'a': [10,20,30], 'b': [20,30,40,]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [6]:
print(df['a'] ** 2)

0    100
1    400
2    900
Name: a, dtype: int64

In [7]:
# 2개의 인자를 전달해야 할 경우
sq = df['a'].apply(my_sq)
print(sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [8]:
# 2개의 인자를 전달받아야 하는 n 제곱함수(my_exp)와 apply 함수를 함께 사용
# apply 첫번째 인자에는 n 제곱함수의 이름, 두번째 인자에는 n 제곱함수의 두번째 인자 전달
ex = df['a'].apply(my_exp, n=2)
print(ex)

ex = df['a'].apply(my_exp, n=3)
print(ex)

0    100
1    400
2    900
Name: a, dtype: int64
0     1000
1     8000
2    27000
Name: a, dtype: int64

In [9]:
# 데이터프레임과 apply
df = pd.DataFrame({'a':[10,20,30], 'b':[20,30,40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [10]:
def print_me(x):
    return(x)

In [11]:
# 데이터프레임에 함수를 적용하기 때문에 열방향으로 적용할지 행방향으로 적용할지 > axis= 0 or 1
print(df.apply(print_me, axis=0))
print(' ')
print(df['a'])
print(' ')
print(df['b'])

    a   b
0  10  20
1  20  30
2  30  40

0    10
1    20
2    30
Name: a, dtype: int64

0    20
1    30
2    40
Name: b, dtype: int64

In [12]:
# 3개의 인자를 입력받아 평균을 계산하는 함수
def avg_3(x, y, z):
    return(x + y + z) / 3

In [13]:
# 3개 인잣값이 필요한 함수에 1개만 입력하면 에러메세지
# 즉 avg_3 함수에 열 단위 데이터가 전달되었고 이 값을 1개의 인자로 인식
# 따라서 avg_3 함수가 열단위 데이터를 처리할 수 있도록 수정
def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x + y + z) / 3

print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

In [14]:
# 앞에선 행의 개수를 알고 작성
# 일반적으로는 for문을 이용
def avg_3_apply(col):
    sum = 0
    for item in col:
        sum += item
    return sum / df.shape[0]

In [15]:
# 위 함수를 응용하여 행 방향으로 데이터를 처리하는 함수 생성
def avg_3_apply(col):
    sum = 0
    for item in col:
        sum += item
    return sum / df.shape[1]

print(df.apply(avg_3_apply, axis=1))

0    15.0
1    25.0
2    35.0
dtype: float64

#### apply 함수 사용하기 - 고급

In [16]:
# 데이터프레임 누락값 처리하기 - 열방향
import seaborn as sns
titanic = sns.load_dataset("titanic")

In [17]:
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

In [18]:
# 누락값 개수 반환
import numpy as np

def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

In [19]:
# apply + count_missing 의 결과
cmis_col = titanic.apply(count_missing)
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [20]:
def prop_missing(vec):
    num = count_missing(vec)
    dem = vec.size
    return num / dem

In [21]:
pmis_col = titanic.apply(prop_missing)
print(pmis_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [22]:
def prop_complete(vec):
    return 1 - prop_complete(vec)

In [ ]:
cmis_row = titanic.apply(count_missing, axis=1)
pmis_row = titanic.apply(prop_missing, axis=1)
pcom_row = titanic.apply(prop_complete, axis=1)

print(cmis_row.head())
print(' ')
print(pmis_row.head())
print(' ')
print(pcom_row.head())

In [1]:
titanic['num_missing'] = titanic.apply(count_missing, axis=1)

print(titanic.head())

NameError: name 'titanic' is not defined