### Step 1. 필요한 라이브러리 임포트

In [1]:
import pandas as pd
import re

### Step 2. [데이터](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) 확인

- order_id 주문번호
- quantity 주문 개수
- item_name 주문한 상품명
- choice_description 선택사항
- item_price 가격

### Step 3. 데이터 불러오기


**read_csv를 통해 데이터를 올바른 형태로 불러온 뒤 chipo에 저장해주세요**  
data: chipotle.tsv

In [2]:
chipo = pd.read_csv('C:/STUDY/Python/data/chipotle.tsv', sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. 누락값 확인하기 
chipo에서 누락값이 존재하는지 확인해주세요

In [3]:
chipo.isna()

      order_id  quantity  item_name  choice_description  item_price
0        False     False      False                True       False
1        False     False      False               False       False
2        False     False      False               False       False
3        False     False      False                True       False
4        False     False      False               False       False
...        ...       ...        ...                 ...         ...
4617     False     False      False               False       False
4618     False     False      False               False       False
4619     False     False      False               False       False
4620     False     False      False               False       False
4621     False     False      False               False       False

[4622 rows x 5 columns]

### Step 5. item_price에서 $를 없애고 float 형식으로 새롭게 저장해주세요.

In [24]:
chipo['item_price'] = chipo['item_price'].float

AttributeError: 'Series' object has no attribute 'int'

### Step 6. 아이템별 주문 수를 출력해주세요

In [18]:
chipo.groupby('item_name')['order_id'].count()

item_name
6 Pack Soft Drink                         54
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            162
Bowl                                       2
Burrito                                    6
Canned Soda                              104
Canned Soft Drink                        301
Carnitas Bowl                             68
Carnitas Burrito                          59
Carnitas Crispy Tacos                      7
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             726
Chicken Burrito                          553
Chicken Crispy Tacos                      47
Chicken Salad                              9
Chicken Salad Bowl                       110
Chicken Soft Tacos                       115
Chips                                    211
Chips and Fresh Tomato Salsa             110
Chips and Guacamole                      479
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        22
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     43
Chips and Tomatillo Red Chili Salsa       48
Chips and Tomatillo-Green Chili Salsa     31
Chips and Tomatillo-Red Chili Salsa       20
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          27
Salad                                      2
Side of Chips                            101
Steak Bowl                               211
Steak Burrito                            368
Steak Crispy Tacos                        35
Steak Salad                                4
Steak Salad Bowl                          29
Steak Soft Tacos                          55
Veggie Bowl                               85
Veggie Burrito                            95
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          7
Name: order_id, dtype: int64

### Step 7. 아이템별 주문 총량을 출력해주세요.

In [21]:
chipo.groupby('item_name')['order_id'].sum()

item_name
6 Pack Soft Drink                         52322
Barbacoa Bowl                             53972
Barbacoa Burrito                          74718
Barbacoa Crispy Tacos                      5613
Barbacoa Salad Bowl                        9708
Barbacoa Soft Tacos                       18725
Bottled Water                            175944
Bowl                                        472
Burrito                                    1550
Canned Soda                               76396
Canned Soft Drink                        304753
Carnitas Bowl                             62742
Carnitas Burrito                          51652
Carnitas Crispy Tacos                      5868
Carnitas Salad                             1500
Carnitas Salad Bowl                        6693
Carnitas Soft Tacos                       37673
Chicken Bowl                             713926
Chicken Burrito                          497303
Chicken Crispy Tacos                      47382
Chicken Salad                             10465
Chicken Salad Bowl                       117104
Chicken Soft Tacos                        98395
Chips                                    208004
Chips and Fresh Tomato Salsa             100419
Chips and Guacamole                      449959
Chips and Mild Fresh Tomato Salsa           279
Chips and Roasted Chili Corn Salsa        14999
Chips and Roasted Chili-Corn Salsa        17462
Chips and Tomatillo Green Chili Salsa     41170
Chips and Tomatillo Red Chili Salsa       45556
Chips and Tomatillo-Green Chili Salsa     21826
Chips and Tomatillo-Red Chili Salsa       18344
Crispy Tacos                                434
Izze                                      10587
Nantucket Nectar                          21814
Salad                                      1150
Side of Chips                             84769
Steak Bowl                               193752
Steak Burrito                            328437
Steak Crispy Tacos                        35818
Steak Salad                                2362
Steak Salad Bowl                          29590
Steak Soft Tacos                          50177
Veggie Bowl                               72270
Veggie Burrito                            80962
Veggie Crispy Tacos                         668
Veggie Salad                               7265
Veggie Salad Bowl                         17303
Veggie Soft Tacos                          5520
Name: order_id, dtype: int64

### Step 8. 각 아이템의 가격을 구해서 unit_price 컬럼에 추가해주세요.
주문당 quantity가 1일때의 가격 (item_price / quantity)

In [23]:
chipo['item_price'] / chipo['quantity']

TypeError: unsupported operand type(s) for /: 'str' and 'int'

### Step 9. 아이템별 개당 가격의 평균을 구하고 가장 비싼순으로 5개를 출력해주세요

### Step 10. 한 주문에 20달러 이상 지불한 손님을 출력해주세요.

### Step 11. 위 10번에서 주문량이 2개인 아이템중 가장 많이 팔린 아이템은 무엇인가요?
Chicken Bowl, Chicken Salad Bowl

### Step 12. Veggie Salad Bowl은 몇 건 주문되었나요?

### Step 13. 아이템명에 Chicken이 들어간 음식은 몇 건 주문되었나요?
**Hint: 정규표현식 사용**   
1560