- 지오코딩
    - 주피터로 하면 결측치 많이 발생
    - 프로그램 돌리면 결측치x, 너무 오래 걸림
        - 중복제거 후 돌리기
    - 크롤링으로 가능할지...

In [1]:
import pandas as pd
# csv파일 불러오기
csv = pd.read_csv('./data/부산충전소.csv', encoding='euc-kr')
csv.head(10)

,운영기관,충전소,충전기ID,충전기타입,지역,시군구,주소
0,환경부(한국자동차환경협회),kbs 부산방송총국,1,DC차데모+AC3상+DC콤보,부산광역시,수영구,부산광역시 수영구 수영로 429
1,환경부(한국자동차환경협회),kbs 부산방송총국,11,DC콤보,부산광역시,수영구,부산광역시 수영구 수영로 429
2,환경부(한국자동차환경협회),kbs 부산방송총국,12,DC콤보,부산광역시,수영구,부산광역시 수영구 수영로 429
3,환경부(한국자동차환경협회),국립부산과학관,11,DC콤보,부산광역시,기장군,부산광역시 기장군 기장읍 석산리 293
4,환경부(한국자동차환경협회),국립부산과학관,12,DC콤보,부산광역시,기장군,부산광역시 기장군 기장읍 석산리 293
5,환경부(한국자동차환경협회),기장군청,1,DC차데모+AC3상+DC콤보,부산광역시,기장군,부산광역시 기장군 기장읍 기장대로 560(기장대로 560)
6,환경부(한국자동차환경협회),기장시장 공영주차장,1,DC차데모+AC3상+DC콤보,부산광역시,기장군,부산광역시 기장군 대라리 70-1
7,환경부(한국자동차환경협회),기장현대드림볼파크,1,DC차데모+AC3상+DC콤보,부산광역시,기장군,부산광역시 기장군 일광면 동백리 409
8,환경부(한국자동차환경협회),기장현대드림볼파크,11,DC콤보,부산광역시,기장군,부산광역시 기장군 일광면 동백리 409
9,환경부(한국자동차환경협회),기장현대드림볼파크,12,DC콤보,부산광역시,기장군,부산광역시 기장군 일광면 동백리 409

## 구글을 이용한 (아마도?) 지오코딩

In [4]:
import re

pattern = r'\([^)]*\)'
text = []

for i in range(0, len(csv['주소']),1):
    text.append(re.sub(pattern=pattern, repl='', string= csv['주소'][i]))
    

text
csv['주소'] = text
csv.head(10)

,운영기관,충전소,충전기ID,충전기타입,지역,시군구,주소
0,환경부(한국자동차환경협회),kbs 부산방송총국,1,DC차데모+AC3상+DC콤보,부산광역시,수영구,부산광역시 수영구 수영로 429
1,환경부(한국자동차환경협회),kbs 부산방송총국,11,DC콤보,부산광역시,수영구,부산광역시 수영구 수영로 429
2,환경부(한국자동차환경협회),kbs 부산방송총국,12,DC콤보,부산광역시,수영구,부산광역시 수영구 수영로 429
3,환경부(한국자동차환경협회),국립부산과학관,11,DC콤보,부산광역시,기장군,부산광역시 기장군 기장읍 석산리 293
4,환경부(한국자동차환경협회),국립부산과학관,12,DC콤보,부산광역시,기장군,부산광역시 기장군 기장읍 석산리 293
5,환경부(한국자동차환경협회),기장군청,1,DC차데모+AC3상+DC콤보,부산광역시,기장군,부산광역시 기장군 기장읍 기장대로 560
6,환경부(한국자동차환경협회),기장시장 공영주차장,1,DC차데모+AC3상+DC콤보,부산광역시,기장군,부산광역시 기장군 대라리 70-1
7,환경부(한국자동차환경협회),기장현대드림볼파크,1,DC차데모+AC3상+DC콤보,부산광역시,기장군,부산광역시 기장군 일광면 동백리 409
8,환경부(한국자동차환경협회),기장현대드림볼파크,11,DC콤보,부산광역시,기장군,부산광역시 기장군 일광면 동백리 409
9,환경부(한국자동차환경협회),기장현대드림볼파크,12,DC콤보,부산광역시,기장군,부산광역시 기장군 일광면 동백리 409

In [5]:
# 가입 없이 주소->좌표 변환
from geopy.geocoders import Nominatim

def geocoding(address):
    geolocoder = Nominatim(user_agent = 'South Korea', timeout=None)
    geo = geolocoder.geocode(address)
    crd = {"lat": str(geo.latitude), "lng": str(geo.longitude)}

    return crd

In [19]:
lat = pd.DataFrame()
lng = pd.DataFrame()

In [67]:
crd = []

In [72]:
for i in range(0, len(csv['주소']), 1):#len(csv['주소']
    try:
        crd.append(geocoding(csv['주소'][i]))
        # lat = crd['lat']
        # print(lat)
        # lng = crd['lng']
        # print(lng)
    except:
        crd.append({'lat':0,'lng':0})

In [71]:
crd

'35.145126'

## 카카오API를 이용한 지오코딩

In [3]:
pip install requests

Collecting requests
  Downloading requests-2.28.0-py3-none-any.whl (62 kB)
     ---------------------------------------- 62.8/62.8 kB 3.3 MB/s eta 0:00:00
Collecting charset-normalizer~=2.0.0
  Downloading charset_normalizer-2.0.12-py3-none-any.whl (39 kB)
Collecting idna<4,>=2.5
  Downloading idna-3.3-py3-none-any.whl (61 kB)
     ---------------------------------------- 61.2/61.2 kB 3.4 MB/s eta 0:00:00
Collecting certifi>=2017.4.17
  Downloading certifi-2022.6.15-py3-none-any.whl (160 kB)
     -------------------------------------- 160.2/160.2 kB 9.4 MB/s eta 0:00:00
Collecting urllib3<1.27,>=1.21.1
  Downloading urllib3-1.26.9-py2.py3-none-any.whl (138 kB)
     -------------------------------------- 139.0/139.0 kB 8.0 MB/s eta 0:00:00
Installing collected packages: urllib3, idna, charset-normalizer, certifi, requests
Successfully installed certifi-2022.6.15 charset-normalizer-2.0.12 idna-3.3 requests-2.28.0 urllib3-1.26.9
Note: you may need to restart the kernel to use updated packages.

In [23]:
# 카카오API를 사용하여 주소->좌표 변환
import requests, json

def get_location(address):
  url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + address
  # 'KaKaoAK '는 그대로 두시고 개인키만 지우고 입력해 주세요.
  # ex) KakaoAK 6af8d4826f0e56c54bc794fa8a294
  headers = {"Authorization": "KakaoAK 18778ab7165cea4f52015651131771e1"}
  api_json = json.loads(str(requests.get(url,headers=headers).text))
  address = api_json['documents'][0]['address']
  crd = {"lat": str(address['y']), "lng": str(address['x'])}
  address_name = address['address_name']

  return crd

crd = get_location("제주 애월읍")
print(crd)

{'lat': '33.4621910539149', 'lng': '126.328972924341'}

In [47]:
crd = []

In [21]:
len(csv['주소'])

6312

In [69]:
for i in range(0, len(csv['주소']), 1):
    try:
        crd.append(get_location(csv['주소'][i]))
        # lat.append(crd['lat'])
        # lng.append(crd['lng'])
    except:
        crd.append({'lat':0,'lng':0})
        # lat.append(0)
        # lng.append(0)

In [68]:
lat = []
lng = []

In [67]:
for i in range(0, len(csv['주소']), 1):
    try:
        crd = get_location(csv['주소'][i])
        lat.append(crd['lat'])
        lng.append(crd['lng'])
    except:
        # crd.append({'lat':0,'lng':0})
        lat.append(0)
        lng.append(0)

print(len(crd))
print(crd)

'35.1448057696851'

In [97]:
a = pd.DataFrame(crd)
a

                    lat               lng
0      35.1448057696851  129.107594553943
1      35.1448057696851  129.107594553943
2      35.1448057696851  129.107594553943
3      35.2040016117052  129.212986556647
4      35.2040016117052  129.212986556647
...                 ...               ...
12619  35.0936853360857  128.905372235636
12620  35.0936853360857  128.905372235636
12621  35.1032001429706  129.002527495995
12622  35.1032001429706  129.002527495995
12623  35.1032001429706  129.002527495995

[12624 rows x 2 columns]

In [100]:
a[a['lat']==0]

      lat lng
12      0   0
13      0   0
94      0   0
95      0   0
96      0   0
...    ..  ..
12547   0   0
12554   0   0
12555   0   0
12556   0   0
12557   0   0

[816 rows x 2 columns]

In [82]:
for i in range(0, len(crd['lat']), 1):
    a['lat'] = crd[i]['lat']
    a['lng'] = crd[i]['lng']

print(a)

TypeError: list indices must be integers or slices, not str